body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background: rgb(10, 10, 10);
    height: 100vh;
    
    background-color: lightslategray;   
}